<!DOCTYPE html>
<html lang="en">

<% if(status){%> 
    <%- include standardnavigatorlogin.ejs %>
<%}else{%>
    <%- include standardnavigator.ejs %>
<%}%>

<body style="background-color:#EAEAEA;">
<div id="container1">
<div class="jumbotron" id="body1">
		<div class="container">
			<h1>Debt Market</h1>
			<p></p>
			<div class="panel-heading">
            <h4 class="panel-title contanier">
              <a data-toggle="collapse" href="#collapse1">My Pending Trade</a>   <!--NAMING-->
            </h4>
          </div>

          <!--COLLAPSE START-->
          <div id="collapse1" class="panel-collapse collapse">
            <!--<div class="panel-body">Panel Body</div>-->
            <table class="table table-hover">
              <thread>
                <tr>
                	<th>Debt Owner</th>
                    <th>Description</th>
                    <th>Amount</th>
                    <th>Balance</th>
                    <th>Expected End Date</th>
                </tr>
              </thread>
              <tbody>
                <form action="/requestconfirm" method="POST">
                <% for(var i=0; i<pending.length; i++) {%>
                  <tr>
                      <td><%= pending[i].userID %></td>
                      <td><%= pending[i].name %></td>
                      <td><%= pending[i].total %></td>
                      <td><%= pending[i].currentBalance %></td>
                      <td><%= pending[i].expectedEndDate %></td>
                      <td><input type="button" class="btn btn-info" value="Yes"></td>
                  </tr>
                <% } %>
                </form>
              </tbody>
            </table>
          </div>

		  <div class="panel-heading">
            <h4 class="panel-title contanier">
              <a data-toggle="collapse" href="#collapse2">Trading Confirmation</a>   <!--NAMING-->
            </h4>
          </div>

          <!--COLLAPSE START-->
          <div id="collapse2" class="panel-collapse collapse">
            <!--<div class="panel-body">Panel Body</div>-->
            <table class="table table-hover">
              <thread>
                <tr>
                	<th>Debt Owner</th>
                    <th>Description</th>
                    <th>Amount</th>
                    <th>Balance</th>
                    <th>Expected End Date</th>
                </tr>
              </thread>
              <tbody>
                <form action="/requestconfirm" method="POST">
                <% for(var i=0; i<confirm.length; i++) {%>
                  <tr>
                      <td><%= confirm[i].userID %></td>
                      <td><%= confirm[i].name %></td>
                      <td><%= confirm[i].total %></td>
                      <td><%= confirm[i].currentBalance %></td>
                      <td><%= confirm[i].expectedEndDate %></td>
                      <td><input type="button" class="btn btn-info" value="Trade"></td>
                  </tr>
                <% } %>
                </form>
              </tbody>
            </table>
          </div>

          <div class="panel-heading">
            <h4 class="panel-title contanier">
              <a data-toggle="collapse" href="#collapse3">Trades Ongoing</a>   <!--NAMING-->
            </h4>
          </div>

          <!--COLLAPSE START-->
          <div id="collapse3" class="panel-collapse collapse">
            <!--<div class="panel-body">Panel Body</div>-->
            <table class="table table-hover">
              <thread>
                <tr>
                	<th>Debt Owner</th>
                    <th>Description</th>
                    <th>Amount</th>
                    <th>Balance</th>
                    <th>Expected End Date</th>
                </tr>
              </thread>
              <tbody>
                <form action="/requestconfirm" method="POST">
                <% for(var i=0; i<ongoing.length; i++) {%>
                  <tr>
                      <td><%= ongoing[i].userID %></td>
                      <td><%= ongoing[i].name %></td>
                      <td><%= ongoing[i].total %></td>
                      <td><%= ongoing[i].currentBalance %></td>
                      <td><%= ongoing[i].expectedEndDate %></td>
                  </tr>
                <% } %>
                </form>
              </tbody>
            </table>
          </div>

	</div>
<%- include footerNavigator.ejs %>
</div>
</body>
</html>

	</div>
</div>
<%- include footerNavigator.ejs %>
</div>
</body>
</html>