<!DOCTYPE html>
<html lang="en">

<% if(status){%> 
    <%- include standardnavigatorlogin.ejs %>
<%}else{%>
    <%- include standardnavigator.ejs %>
<%}%>

<body style="background-color:#EAEAEA;">
<div id="container1">
  <div class="container">
      <h1>Debt Market</h1>
      <h4>Your current debt trades:</h4>
      <div class="panel-group" id="body1">
      <div class="panel panel-default " >
			    <div class="panel-heading">
            <h4 class="panel-title contanier">
              <a data-toggle="collapse" href="#collapse1">My Pending Trade</a>   <!--NAMING-->
            </h4>
          </div>

          <!--COLLAPSE START-->
          <div id="collapse1" class="panel-collapse collapse">
            <!--<div class="panel-body">Panel Body</div>-->
            <table class="table table-hover">
              <thread>
                <tr>
                	<th>First Loaner</th>
                    <th>Second Loaner</th>
                    <th>First Trader</th>
                    <th>Second Trader</th>
                    <th>Trade Inital Date</th>
                    <th>Status</th>
                    <th>Balance1</th>
                    <th>Balance2</th>
                    <th>First value</th>
                    <th>Second value</th>
                    <th>First accept</th>
                    <th>Second accept</th>
                </tr>
              </thread>
              <tbody>
                <% for(var i=0; i<pending.length; i++) {%>
                  <tr>
                      <td><%= pending[i].loan1 %></td>
                      <td><%= pending[i].loan2 %></td>
                      <td><%= pending[i].trader1 %></td>
                      <td><%= pending[i].trader2 %></td>
                      <td><%= pending[i].tradeInitDate %></td>
                      <td><%= pending[i].status %></td>
                      <td><%= pending[i].balance1 %></td>
                      <td><%= pending[i].balance2 %></td>
                      <td><%= pending[i].estimatedValue1 %></td>
                      <td><%= pending[i].estimatedValue2 %></td>
                      <td><%= pending[i].accept1 %></td>
                      <td><%= pending[i].accept2 %></td>
                  </tr>
                <% } %>
              </tbody>
            </table>
          </div>

		      <div class="panel-heading">
            <h4 class="panel-title contanier">
              <a data-toggle="collapse" href="#collapse2">Trading Confirmation</a>   <!--NAMING-->
            </h4>
          </div>

          <!--COLLAPSE START-->
          <div id="collapse2" class="panel-collapse collapse">
            <!--<div class="panel-body">Panel Body</div>-->
            <table class="table table-hover">
              <thread>
                <tr>
                  <th>First Loaner</th>
                    <th>Second Loaner</th>
                    <th>First Trader</th>
                    <th>Second Trader</th>
                    <th>Trade Inital Date</th>
                    <th>Status</th>
                    <th>Balance1</th>
                    <th>Balance2</th>
                    <th>First value</th>
                    <th>Second value</th>
                    <th>First accept</th>
                    <th>Second accept</th>
                </tr>
              </thread>
              <tbody>

                <% for(var i=0; i<confirm.length; i++) {%>
                  <tr>
                      <td><%= confirm[i].loan1 %></td>
                      <td><%= confirm[i].loan2 %></td>
                      <td><%= confirm[i].trader1 %></td>
                      <td><%= confirm[i].trader2 %></td>
                      <td><%= confirm[i].tradeInitDate %></td>
                      <td><%= confirm[i].status %></td>
                      <td><%= confirm[i].balance1 %></td>
                      <td><%= confirm[i].balance2 %></td>
                      <td><%= confirm[i].estimatedValue1 %></td>
                      <td><%= confirm[i].estimatedValue2 %></td>
                      <td><%= confirm[i].accept1 %></td>
                      <td><%= confirm[i].accept2 %></td>
                  </tr>
                <% } %>
              </tbody>
            </table>
          </div>

          <div class="panel-heading">
            <h4 class="panel-title contanier">
              <a data-toggle="collapse" href="#collapse3">Trades Ongoing</a>   <!--NAMING-->
            </h4>
          </div>

          <!--COLLAPSE START-->
          <div id="collapse3" class="panel-collapse collapse">
            <!--<div class="panel-body">Panel Body</div>-->
            <table class="table table-hover">
              <thread>
                <tr>
                  <th>First Loaner</th>
                    <th>Second Loaner</th>
                    <th>First Trader</th>
                    <th>Second Trader</th>
                    <th>Trade Inital Date</th>
                    <th>Status</th>
                    <th>Balance1</th>
                    <th>Balance2</th>
                    <th>First value</th>
                    <th>Second value</th>
                    <th>First accept</th>
                    <th>Second accept</th>
                </tr>
              </thread>
              <tbody>
               <% for(var i=0; i<ongoing.length; i++) {%>
                  <tr>
                      <td><%= ongoing[i].loan1 %></td>
                      <td><%= ongoing[i].loan2 %></td>
                      <td><%= ongoing[i].trader1 %></td>
                      <td><%= ongoing[i].trader2 %></td>
                      <td><%= ongoing[i].tradeInitDate %></td>
                      <td><%= ongoing[i].status %></td>
                      <td><%= ongoing[i].balance1 %></td>
                      <td><%= ongoing[i].balance2 %></td>
                      <td><%= ongoing[i].estimatedValue1 %></td>
                      <td><%= ongoing[i].estimatedValue2 %></td>
                      <td><%= ongoing[i].accept1 %></td>
                      <td><%= ongoing[i].accept2 %></td>
                  </tr>
                <% } %>
              </tbody>
            </table>
          </div>
        </div>
	</div>
  </div>
  <%- include footerNavigator.ejs %>
</div>
</body>
</html>