<!DOCTYPE html>
<html lang="en">

<% if(status){%> 
    <%- include standardnavigatorlogin.ejs %>
<%}else{%>
    <%- include standardnavigator.ejs %>
<%}%>

<body style="background-color:#EAEAEA;">
<div id="container1">
	<div class="jumbotron" id="body1">
		<div class="container">
			<h1>Debt Market</h1>
			<p></p>
			<h2>My Trades</h2>
			<table class="table table-condensed">
		    <thead>
		      <tr>
		        <th>My Debt</th>
		        <th>Traders' Debt</th>
		      </tr>
		    </thead>
		    <tbody>
		    	<td>
		    		<select>
						<% for(var i=0; i<mytrade.length; i++) {%>
				        	<option value=<%= mytrade[i] %> > <%= mytrade[i] %> </option>
				        <%}%>
				    </select>
		    	</td>
		    	<td>
			        <select>
						<% for(var i=0; i<debttrade.length; i++) {%>
				        	<option value=<%= debttrade[i] %> > <%= debttrade[i] %> </option>
				        <%}%>
				    </select>
				</td>
		    </tbody>
		  </table>		
		</div>
	</div>
<%- include footerNavigator.ejs %>
</div>
</body>
</html>