<!DOCTYPE html>
<html lang="en">

<% if(status){%> 
    <%- include standardnavigatorlogin.ejs %>
<%}else{%>
    <%- include standardnavigator.ejs %>
<%}%>

<body style="background-color:#EAEAEA;">
<div id="container1">
  <div id="body1">
  	<h1 class="container">Loan Details</h1>
  	<table class="table table-hover" style="max-width:300px;">
        <thread>
            <tr><th style="text-align: right;">Loan</th><td><%= loans.name %></td></tr>
            <tr><th style="text-align: right;">Status</th><td><%= loans.status %></td></tr>
            <tr><th style="text-align: right;">Interest Type</th><td><%= loans.interestType %></td></tr>
            <tr><th style="text-align: right;">Interest Rate</th><td><%= loans.interestRate %></td></tr>
            <tr><th style="text-align: right;">Annuity Type</th><td><%= loans.annuityType %></td></tr>
            <tr><th style="text-align: right;">Fixed Interest</th><td><%= loans.fixedInterest %></td></tr>
            <tr><th style="text-align: right;">Service Fees</th><td><%= loans.fees %></td></tr>
            <tr><th style="text-align: right;">Start Date</th><td><%= loans.startDate %></td></tr>
            <tr><th style="text-align: right;">Expected End Date</th><td><%= loans.expectedEndDate %></td></tr>
            <tr><th style="text-align: right;">Last Payment Date</th><td><%= loans.lastPaymentDate %></td></tr>
            <tr><th style="text-align: right;">Last Payment Interest</th><td><%= loans.lastPaymentInterest %></td></tr>
            <tr><th style="text-align: right;">Total Loan Amount</th><td><%= loans.total %></td></tr>
            <tr><th style="text-align: right;">Current Balance</th><td><%= loans.currentBalance %></td></tr>
            <tr><th style="text-align: right;">Frequency</th><td><%= loans.frequency %></td></tr>
            <tr><th style="text-align: right;">Installment</th><td><%= loans.installmentSum %></td></tr>
            <tr><th style="text-align: right;">Notes</th><td><%= loans.notes %></td></tr>
            <tr><th style="text-align: right;">Purpose</th><td><%= loans.purpose %></td></tr>
        </thread>
    </table>
  </div>
  <%- include footerNavigator.ejs %>
</div>
</body>
</html>