<!DOCTYPE html>
<html lang="en">

<% if(status){%> 
    <%- include standardnavigatorlogin.ejs %>
<%}else{%>
    <%- include standardnavigator.ejs %>
<%}%>

<body style="background-color:#EAEAEA;">
<div id="container1">
  <div>
    <div class="container">
      <h2>LOAN CALCULATOR</h2>   <!--NAMING-->
      <div class="panel-group" id="body1">
        <div class="panel panel-default" >
          <div class="panel-heading">
            <h4 class="panel-title">
            <img class="block" src="http://www.clker.com/cliparts/5/v/V/e/t/J/simple-red-house.svg" alt="" style="width:25px;height:25px;">
              <a data-toggle="collapse" href="#collapse1">Mortgage Loans</a>   <!--NAMING-->
            </h4>
          </div>

          <!--COLLAPSE START-->
          <div id="collapse1" class="panel-collapse collapse">
            <!--<div class="panel-body">Panel Body</div>-->
            <table class="table table-hover">
              <thread>
                <tr>
                    <th>Description</th>
                    <th>Amount</th>
                    <th>Balance</th>
                    <th>Expected End Date</th>
                </tr>
              </thread>
              <tbody>
                <% for(var i=0; i<loans.length; i++) {%>
                  <tr>
                      <td><%= loans[i].name %></td>
                      <td><%= loans[i].total %></td>
                      <td><%= loans[i].currentBalance %></td>
                      <td><%= loans[i].expectedEndDate %></td>
                      <td><a href="/loans/id/<%= loans[i]._id %>" class="btn btn-info" role="button"> View </a></td>

                  </tr>
                <% } %>
              </tbody>
            </table>
          </div>

          <div class="panel-heading">
            <h4 class="panel-title">
              <img class="block" src="https://github.com/danhsiu/danhsiuliu/blob/master/images/carkey.jpg?raw=true" alt="" style="width:25px;height:25px;">
              <a data-toggle="collapse" href="#collapse2">Car Expense Loans</a>   <!--NAMING-->
            </h4>
          </div>

          <div id="collapse2" class="panel-collapse collapse">
            <!--<div class="panel-body">Panel Body</div>-->
            <table class="table table-hover">
              <thread>
                <tr>
                    <th>Description</th>
                    <th>Amount</th>
                    <th>Balance</th>
                    <th>Expected End Date</th>
                </tr>
              </thread>
              <tbody>
                <% for(var i=0; i<carExp.length; i++) {%>
                  <tr>
                      <td><%= carExp[i].name %></td>
                      <td><%= carExp[i].total %></td>
                      <td><%= carExp[i].currentBalance %></td>
                      <td><%= carExp[i].expectedEndDate %></td>
                      <td><a href="/loans/id/<%= carExp[i]._id %>" class="btn btn-info" role="button"> View </a></td>

                  </tr>
                <% } %>
              </tbody>
            </table>
          </div>

          <div class="panel-heading">
            <h4 class="panel-title">
              <img class="block" src="https://cdn3.iconfinder.com/data/icons/business-and-finance-icons/512/Credit_Card-512.png" alt="" style="width:25px;height:25px;">
              <a data-toggle="collapse" href="#collapse3">Credit Card Loans</a>   <!--NAMING-->
            </h4>
          </div>

          <div id="collapse3" class="panel-collapse collapse">
            <!--<div class="panel-body">Panel Body</div>-->
            <table class="table table-hover">
              <thread>
                <tr>
                    <th>Description</th>
                    <th>Amount</th>
                    <th>Balance</th>
                    <th>Expected End Date</th>
                </tr>
              </thread>
              <tbody>
                <% for(var i=0; i<creditExp.length; i++) {%>
                  <tr>
                      <td><%= creditExp[i].name %></td>
                      <td><%= creditExp[i].total %></td>
                      <td><%= creditExp[i].currentBalance %></td>
                      <td><%= creditExp[i].expectedEndDate %></td>
                      <td><a href="/loans/id/<%= creditExp[i]._id %>" class="btn btn-info" role="button"> View </a></td>
                  </tr>
                <% } %>
              </tbody>
            </table>
          </div>

          <div class="panel-heading">
            <h4 class="panel-title">
                   <img src="http://tradeoff-analytics-demo.mybluemix.net/images/app.png" alt="" style="width:25px; height:25px;">
              <a data-toggle="collapse" href="#collapse4">Savings Analytics</a>   <!--NAMING-->
            </h4>
          </div>

          <div id="collapse4" class="panel-collapse collapse">
            <!--<div class="panel-body">Panel Body</div>-->
            <table class="table table-hover">
              <thread>
                <tr>
                    <th>Description</th>
                    <th>Amount</th>
                    <th>Balance</th>
                    <th>Expected End Date</th>
                </tr>
              </thread>
              <tbody>
              </tbody>
            </table>
          </div>

          <div class="panel-heading">
            <h4 class="panel-title">
                   <img src="https://cdn1.iconfinder.com/data/icons/money-finance-set-2/512/19-512.png" alt="" style="width:25px; height:25px;">
              <a data-toggle="collapse" href="#collapse5">Others</a>   <!--NAMING-->
            </h4>
          </div>

          <div id="collapse5" class="panel-collapse collapse">
            <!--<div class="panel-body">Panel Body</div>-->
            <table class="table table-hover">
              <thread>
                <tr>
                    <th>Description</th>
                    <th>Amount</th>
                    <th>Balance</th>
                    <th>Expected End Date</th>
                </tr>
              </thread>
              <tbody>
                <% for(var i=0; i<otherExp.length; i++) {%>
                  <tr>
                      <td><%= otherExp[i].name %></td>
                      <td><%= otherExp[i].total %></td>
                      <td><%= otherExp[i].currentBalance %></td>
                      <td><%= otherExp[i].expectedEndDate %></td>
                      <td><a href="/loans/id/<%= otherExp[i]._id %>" class="btn btn-info" role="button"> View </a></td>
                  </tr>
                <% } %>
              </tbody>
            </table>
          </div>

        </div>
      </div>
    </div>
  </div>
  <%- include footerNavigator.ejs %>
</div>
</body>
</html>