<!DOCTYPE html>
<html lang="en">

<% if(status){%> 
    <%- include standardnavigatorlogin.ejs %>
<%}else{%>
    <%- include standardnavigator.ejs %>
<%}%>

<body style="background-color:#EAEAEA;">
<div id="container1">
	<div class ="container">
    <h1>Debt Trader</h1>
    <div class="panel-group" id="body1">
    <div class="panel panel-default " >
		<div class="panel-heading">
            <h4 class="panel-title contanier">
              <a data-toggle="collapse" href="#collapse1">Mortgage Loans</a>   <!--NAMING-->
            </h4>
          </div>

          <!--COLLAPSE START-->
          <div id="collapse1" class="panel-collapse collapse">
            <!--<div class="panel-body">Panel Body</div>-->
            <table class="table table-hover">
              <thread>
                <tr>
                	<th>Debt Owner</th>
                    <th>Description</th>
                    <th>Amount</th>
                    <th>Balance</th>
                    <th>Expected End Date</th>
                </tr>
              </thread>
              <tbody>
                <% for(var i=0; i<loans.length; i++) {%>
                  <tr>
                      <td><%= loans[i].userID %></td>
                      <td><%= loans[i].name %></td>
                      <td><%= loans[i].total %></td>
                      <td><%= loans[i].currentBalance %></td>
                      <td><%= loans[i].expectedEndDate %></td>
                      <td><%= loans[i]._id %></td>
                      <td><a href="/requestconfirm/id/<%= loans[i]._id %>" class="btn btn-info" role="button"> Trade </a></td>
                  </tr>
                <% } %>
                </form>
              </tbody>
            </table>
          </div>
        </div>
      </div>
	</div>
<%- include footerNavigator.ejs %>
</div>
</body>
</html>